**/build/**
.gradle
.idea
spoof-tool/spoof
local.properties

# Ios specific:
.DS_Store
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared-ui/shared_ui.podspec

# Addition
/captures
.externalNativeBuild
.cxx
