**/build/**
.gradle
.idea
spoof-tool/spoof

# Ios specific:
.DS_Store
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/Heartcast.xcworkspace/*
iosApp/Heartcast.xcodeproj/*
!iosApp/Heartcast.xcodeproj/project.pbxproj
app/HC.podspec

# Addition
/captures
.externalNativeBuild
.cxx