<manifest package="io.sellmair.pacemaker"
          xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <!-- Polar SDK needs Bluetooth scan permission to search for BLE devices. Polar BLE SDK doesn't use the scan
   to decide the location so "neverForLocation" permission flag can be used.-->
    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation"/>

    <!-- Polar SDK needs Bluetooth connect permission to connect for found BLE devices.-->
    <uses-permission
            android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Allows Polar SDK to connect to paired bluetooth devices. Legacy Bluetooth permission,
     which is needed on devices with API 30 (Android Q) or older. -->
    <uses-permission
            android:name="android.permission.BLUETOOTH"
            android:maxSdkVersion="30"/>

    <!-- Allows Polar SDK to discover and pair bluetooth devices. Legacy Bluetooth permission,
     which is needed on devices with API 30 (Android Q) or older. -->
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"
            android:maxSdkVersion="30"/>

    <!-- Polar SDK needs the fine location permission to get results for Bluetooth scan. Request
    fine location permission on devices with API 30 (Android Q). Note, if your application
    needs location for other purposes than bluetooth then remove android:maxSdkVersion="30"-->
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            android:maxSdkVersion="30"/>

    <!-- The coarse location permission is needed, if fine location permission is requested. Request
      coarse location permission on devices with API 30 (Android Q). Note, if your application
     needs location for other purposes than bluetooth then remove android:maxSdkVersion="30" -->
    <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:maxSdkVersion="30"/>

    <application
            android:theme="@style/AppTheme"
            android:icon="@mipmap/ic_launcher"
            android:label="Pacemaker"
            android:allowBackup="false"
    >

        <activity android:name="io.sellmair.pacemaker.MainActivity" android:exported="true"
                  android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="io.sellmair.pacemaker.AndroidApplicationBackend"
                android:foregroundServiceType="health|connectedDevice"
                android:exported="false"
        />

    </application>
</manifest>